<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Christmas list</title>  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="styling/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <ul class="nav-bar">
            <div class="nav-bar--left">


            </div>
            <div class="nav-bar--right">
                <a href="/logout"><li class="nav-item" id="logout">Logout</li></a>
            </div>
        </ul>
    </div>
    <h1 class="heading-1">Gift ideas</h1>

    <div class="main">

        <div class="lists my-lists">
            <div class="my-lists-header">
                <h2 class="heading-2">My lists</h2>
                <div class="link link--right">Create new list</div>
            </div>


        </div>

        <div class="lists all-shared-lists">
            <h2 class="heading-2">Lists shared with me</h2>
        </div>
    </div>

    <div class="new-list display-none">
        <div class="overlay form__close"></div>
        <form class="form" method="post">
            <div class="form-heading">
                <h2 class="heading-2">Create new list</h2>
                <div class="form__close cross">&times;</div>
            </div>
            <div class="input-container">
                <label for="input-title" class="form-label">List title</label>
                <input type="text" required autocomplete="off" class="form-input" name="input-title" id="input-title">
            </div>

            <p class="paragraph form-msg">Message</p>

            <button type="button" class="btn btn--primary" id="create-list">Create list!</button>

        </form>
    </div>

    <div class="confirm-delete display-none">
        <div class="overlay form__close"></div>
        <div class="confirm-delete-modal">
            <div class="form-heading">
                <h2 class="heading-2">Delete list</h2>
                <div class="form__close cross">&times;</div>
            </div>
            <div class="input-container">
                <label for="id" class="form__label" style="display:none">id</label>
                <input type="hidden" step="1" class="form__input" placeholder="id" id="id" name="id" value="-1">
            </div>
            <p class="paragraph">Are you sure you wish to delete this list? Once deleted, this list will no longer be visible to you or to
                anybody with whom you have shared it.</p>
            <div class="btn-container">
                <button type="button" class="btn btn--grey-light" id="btn-cancelDelete">Cancel</button>
                <button type="button" class="btn btn--danger" id="btn-deleteList">Delete list</button>
            </div>
        </div>

    </div>
    <script type="module" src="/javascript/index.js"></script>
</body>
</html>