<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Christmas list</title>  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="styling/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <div class="header">
        <ul class="nav-bar">
            <div class="nav-bar--left">


            </div>
            <div class="nav-bar--right">
                <a href="/logout"><li class="nav-item" id="logout">Logout</li></a>
            </div>
        </ul>
    </div>
    <h1 class="heading-1">Christmas</h1>

    <div class="main">

        <div class="lists my-lists">
            <h2 class="heading-2">My lists</h2>
            <div class="list-container">
                <div class="list-container--header">
                    <h4 class="heading-4">Daniel's Christmas list</h4>
                </div>
                <div class="list-created-on">Created on: December 12 2021</div>
            </div>
        </div>

        <div class="lists all-shared-lists">
            <h2 class="heading-2">Lists shared with me</h2>

            <div class="list-container">
                <div class="list-container--header">
                    <h4 class="heading-4">Daniel's Christmas list</h4>
                </div>
                <div class="list-created-on">Created on: December 12 2021</div>
            </div>

            <div class="list-container">
                <div class="list-container--header">
                    <h4 class="heading-4">Jan's Christmas list</h4>
                </div>
                <div class="list-created-on">Created on: December 12 2021</div>
            </div>

            <div class="list-container">
                <div class="list-container--header">
                    <h4 class="heading-4">Julia's Christmas list</h4>
                </div>
                <div class="list-created-on">Created on: December 12 2021</div>
            </div>
        </div>
    </div>
</body>
</html>