<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My list</title>  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
  <link rel="stylesheet" href="../styling/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="header">
  <ul class="nav-bar">
    <div class="nav-bar--left">
      <a href="/"><li class="nav-item" id="home">Home</li></a>


    </div>
    <div class="nav-bar--right">
      <a href="/logout"><li class="nav-item" id="logout">Logout</li></a>
    </div>
  </ul>
</div>


<div class="title-row">
  <h1 class="heading-1"></h1>
  <button type="button" class="btn btn--secondary" id="share-list">Share list</button>
</div>



<div class="list-table">
  <div class="row top-row">
    <div class="cell cell-header item">Item/product</div>
    <div class="cell cell-header price">Price</div>
    <div class="cell cell-header location">Shop</div>
    <div class="cell cell-header">Link/URL</div>
    <div class="cell cell-header additional-info">Additional info</div>
    <div class="cell cell-header additional-info">Edit/delete</div>
  </div>

</div>

<button type="button" class="btn btn--primary center" id="new-item">Add new item</button>

<div class="new-entry display-none">
  <div class="overlay form__close"></div>
  <form class="form form-add-edit">
    <div class="form-heading">
      <h2 class="heading-2 header-add-edit">Add new entry</h2>
      <div class="form__close cross">&times;</div>
    </div>
    <div class="input-container">
      <label for="id" class="form__label" style="display:none">id</label>
      <input type="hidden" step="1" class="form__input" placeholder="id" id="id" name="id" value="-1">
    </div>
    <div class="input-container">
      <label for="input-product" class="form-label">Item/product (required)</label>
      <input type="text" required autocomplete="off" class="form-input" name="input-product" id="input-product">
    </div>
    <div class="input-container">
      <label for="input-price" class="form-label">Price (£)</label>
      <input type="number" autocomplete="off" class="form-input" name="input-price" id="input-price">
    </div>
    <div class="input-container">
      <label for="input-location" class="form-label">Available from</label>
      <input type="text" autocomplete="off" class="form-input" name="input-location" id="input-location">
    </div>
    <div class="input-container">
      <label for="input-url" class="form-label">Link/URL</label>
      <input type="text" autocomplete="off" class="form-input" name="input-url" id="input-url">
    </div>
    <div class="input-container">
      <label for="input-info" class="form-label">Additional info</label>
      <textarea class="form-input text-area" name="input-info" id="input-info"></textarea>
    </div>
    <p class="paragraph form-msg">Message</p>

    <button type="button" class="btn btn--primary" id="submit-item">Submit</button>
    <button type="button" class="btn btn--primary display-none" id="edit-item">Update</button>

  </form>

</div>

<div class="share-with display-none">
  <div class="overlay form__close"></div>
  <form class="form" id="email-form">
    <div class="form-heading">
      <h2 class="heading-2 header-add-email">Share list</h2>
      <div class="form__close cross">&times;</div>
    </div>
    <div class="single-row-form">
      <input class="input" id="input-email" type="email" placeholder="Enter email address here">
      <button class="btn btn-form-single-row" type="submit">Add</button>
    </div>
    <h4 class="heading-4">List will be shared with the following contacts:</h4>
    <div class="email-list"></div>
    <button type="button" class="btn btn--primary" id="btn-shareList">Send emails</button>
  </form>
</div>

<div class="confirm-send-email display-none">
  <div class="confirm-send-modal">
    <div class="form-heading">
      <h2 class="heading-2">Send list now?</h2>
      <div class="confirm-send-email__close cross">&times;</div>
    </div>
    <p class="paragraph">Are you sure you wish to share this list with the contacts below now? After sending the list, you will no longer be able to edit or delete existing items (you will still be able to add additional items but will not be able to edit them).</p>
    <br>
    <p class="paragraph">It is <b>highly recommended</b> that you do not share this list until all items have been added.</p>
    <div class="btn-container">
      <button type="button" class="btn btn--grey-light" id="btn-cancelSendEmail">Cancel</button>
      <button type="button" class="btn btn--primary" id="btn-confirmSendEmail">Send emails</button>
    </div>
  </div>

</div>



<script type="module" src="/javascript/mylist.js"></script>
</body>
</html>