<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My list</title>
</head>
<body>
<div class="list-table">
  <div class="row header">
    <div class="cell cell-header item">Item</div>
    <div class="cell cell-header price">Price</div>
    <div class="cell cell-header location">Shop</div>
    <div class="cell cell-header link">Link/URL</div>
    <div class="cell cell-header additional-info">Additional info</div>
  </div>
  <div class="row">
    <div class="cell item"></div>
    <div class="cell price"></div>
    <div class="cell location"></div>
    <div class="cell link">Link/URL</div>
    <div class="cell additional-info"></div>
  </div>

</div>
</body>
</html>