<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Shared list</title>
  <link rel="stylesheet" href="../styling/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="header">
  <ul class="nav-bar">
    <div class="nav-bar--left">
      <a href="/"><li class="nav-item" id="home">Home</li></a>


    </div>
    <div class="nav-bar--right">
      <a href="/logout"><li class="nav-item" id="logout">Logout</li></a>
    </div>
  </ul>
</div>


<div class="title-row">
  <h1 class="heading-1"></h1>
</div>



<div class="list-table">
  <div class="row top-row">
    <div class="cell cell-header item">Item</div>
    <div class="cell cell-header price">Price</div>
    <div class="cell cell-header location">Shop</div>
    <div class="cell cell-header url">Link/URL</div>
    <div class="cell cell-header additional-info">Additional info</div>
    <div class="cell cell-header edit-delete">Selected by</div>
  </div>

</div>



<script type="module" src="/javascript/sharedlist.js"></script>
</body>
</html>