// COLOR VARIABLES
$color-primary: #5723b6;
$color-primary-light: #ac81fa;
$color-primary-dark: #3e0f8d;
$color-primary-lighter: #cab9f3;
$color-primary-faint: #d8cef3;

$color-secondary: #ef00cf;
$color-secondary-light: #ff5ee8;

$color-success: #007d26;
$color-danger: #e91235;

$color-off-white: #f3eeee;
$color-grey-lightest: #e8e8e8;
$color-grey-light: #c5c5c5;
$color-grey: #a4a4a4;
$color-grey-dark: #7c7c7c;
$color-grey-darkest: #474747;
$color-black: #000000;

$gradient-primary: linear-gradient(145deg, rgba($color-primary-light,1) 0%, rgba($color-primary-faint,1) 100%);
$gradient-secondary: linear-gradient(145deg, rgba($color-secondary, 0.8) 0%, rgba($color-secondary-light,0.8) 100%);
$gradient-grey: linear-gradient(145deg, rgba($color-grey-light, 0.8) 0%, rgba($color-grey-lightest,0.8) 100%);

//$gradient-black: linear-gradient(145deg, rgba($color-black, 0.8) 0%, rgba($color-grey-dark,0.8) 100%);


// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Nanum Gothic', sans-serif;


// BREAK POINTS
$break-tiny: 280px;
$break-smallest: 400px;
$break-small: 600px;
$break-medium: 900px;
$break-large: 1260px;
$break-largest: 1500px;

/*Universal declaration - will apply these settings to all elements, also select all before and after pseudoelements - prevents strange behaviour*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit; /*forcing inheritance on each element from body - this is considered good practice*/
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  min-height: 100%;
  overflow-y: auto;
  font-family: $font-primary;
  //color: $color-primary-dark;
}

body {
  box-sizing: border-box; /*changes box model so that borders and paddings are not added to total width/height specified for a box*/
  //padding: 2rem; /* padding around body - not inherited to other elements*/
  height: 100%;
  width: 100%;
  background: $gradient-grey;
  background-size: cover;
  padding: 2rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  color: $color-black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //overflow: auto;
}

.body-hidden {
  overflow: hidden;
  height: 100vh;

}

// Required to stop img stretching on iPhone
img {
  align-self: center;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:not(:empty) {
    &:hover {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }
  }

}

select {
  -webkit-appearance: none;
  background: $color-off-white url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
  background-size: 2rem;
  background-position: right 1rem center;
  border-radius: 0;
  margin-bottom: 0;
}

// make scroll-bar transparent
::-webkit-scrollbar {
  background: rgba(0,0,0,0);
  width: 1px;
}
