.main-container {
  display: flex;
  width: 90%;
}

.share-with {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.list-table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  align-items: center;
  width: 70%;
  margin: 0 auto 2rem auto;
  border-bottom: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%
}

.top-row {
  background-color: $color-primary-dark;
  color: $color-off-white;
  text-align: left;
  display: flex;
}

.cell {
  display: flex;
  flex: 1;
  flex-basis: calc(100% / 5);
  padding: 1rem;
  align-self: center;
}

.btn-cell {
  display: flex;
  flex-direction: column;
}

.email-list {
  display: flex;
  flex-direction: column;
}

.email-container {
  display: flex;
  height: 4.5rem;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;

  &--left {
    display: flex;
    align-items: center;
  }

  &--right {
    display: flex;
  }

  .fas {
    font-size: 1.6rem;
    padding: 1.6rem;
  }
}

.email-address {
  font-size: 1.6rem;

}

.fa-trash {
  cursor: pointer;
}