

.title-row {
  display: flex;
  justify-content: space-between;
}

.lists {
  background-color: $color-off-white;
}

.list-table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  align-items: center;
  width: 90%;
  margin: 0 auto 2rem auto;
  border-bottom: 1px solid black;
  font-size: 1.2rem;

  @media only screen and (max-width: $break-small) {
    border-bottom: none;
  }

}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $color-primary-faint;

  &:nth-of-type(even) {
    background-color: $color-off-white;
  }

  @media only screen and (max-width: $break-small) {
    flex-direction: column;
    background-color: inherit !important;

    &:not(:last-of-type) {
      border-bottom: 1px solid black;
    }

    &:not(:first-of-type) {
      padding-top: 2rem;
    }
  }
}

.row-selected {
  background-color: $color-grey !important;
  color: $color-grey-dark !important;
}

.top-row {
  background-color: $color-primary-dark;
  color: $color-off-white;
  text-align: left;
  display: flex;

  @media only screen and (max-width: $break-small) {
    display: none;
  }
}

.cell {
  display: flex;
  flex: 1;
  flex-basis: calc(100% / 5);
  padding: 1rem;
  align-self: center;
  word-break: break-word;

  @media only screen and (max-width: $break-small) {
    padding: 0.3rem;
  }
}

.btn-cell {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  @media only screen and (max-width: $break-small) {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.email-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.email-container {
  font-size: 1.6rem;
  padding: 1.6rem;
  display: flex;
  height: 4.5rem;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $break-small) {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
  }

  &--left {
    display: flex;
    align-items: center;
  }

  &--right {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $break-small) {
      width: 100%;
    }
  }

  //.fas {
  //  font-size: 1.6rem;
  //  margin-right: 1.6rem;
  //
  //  @media only screen and (max-width: $break-small) {
  //    //padding: 1rem;
  //  }
  //}
}

.email-address {

}

.fa-trash {
  margin-left: 1.6rem;

  cursor: pointer;
  @media only screen and (max-width: $break-small) {
    margin-left: auto;
  }

  &:hover {
    color: $color-danger;
  }
}

.fa-envelope {
  margin-right: 1.6rem;

  @media only screen and (max-width: $break-small) {
    //padding: 1rem;
  }

}

.fa-user-alt {
  margin-right: 1.6rem;

  @media only screen and (max-width: $break-small) {
    //padding: 1rem;
  }

}

.confirm-send-email {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e8e8e8;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  z-index: 20;
  max-width: 110rem;

  @media only screen and (max-width: $break-small) {
    width: 90%;
    padding: 2rem;
  }
}

@mixin pseudoElement-before {
  display: flex;
  padding: 0 0.5rem 0 0;
  font-weight: 700;
  color: inherit !important;
  //white-space: pre;

  @media only screen and (max-width: $break-tiny) {
    padding: 0;
  }
}

.pseudo-product {
  &::before {
    display: none;

    @media only screen and (max-width: $break-small) {
      @include pseudoElement-before;
      content: "Product: " + "\00000a";
      word-break: initial;
    }
  }
}

.pseudo-price {
  &::before {
    display: none;

    @media only screen and (max-width: $break-small) {
      @include pseudoElement-before;
      content: "Price: " + "\00000a";
      word-break: initial;
    }
  }
}

.pseudo-location {
  &::before {
    display: none;

    @media only screen and (max-width: $break-small) {
      @include pseudoElement-before;
      content: "Location: " + "\00000a";
      word-break: initial
    }
  }
}

.pseudo-url {
  &::before {
    display: none;

    @media only screen and (max-width: $break-small) {
      @include pseudoElement-before;
      content: "URL: " + "\00000a";
      word-break: initial
    }
  }
}

.pseudo-additional-info {
  &::before {
    display: none;

    @media only screen and (max-width: $break-small) {
      @include pseudoElement-before;
      content: "Additional info: " + "\00000a";
      word-break: initial
    }
  }
}

