.heading-1 {
  padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 3rem;

  @media only screen and (max-width: $break-small) {
    font-size: 2.5rem;
  }
}

.heading-2 {
  //padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;

  @media only screen and (max-width: $break-small) {
    font-size: 2rem;
  }
}

.heading-3 {
  padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 1.8rem;
}

.heading-4 {
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

.paragraph {
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.link {
  color: blue;
  cursor: pointer;

  &--right {
    float: right;
  }
}

.form-msg {
  font-size: 1.6rem;
  position: relative;
  visibility: hidden;
  //top: 1rem;

  &--success {
    color: $color-success;
    visibility: visible;
  }

  &--error {
    color: $color-danger;
    visibility: visible;
  }
}

.success {
  color: $color-success;
}

.danger {
  color: $color-danger;
}